* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(240, 240, 240);
    display: flex;
    min-height: 100vh;
}

.sidebar {
    padding: 1%;
    background-color: white;
    height: 100vh;
    width: auto; /* Ajusta automaticamente ao conteúdo */
    position: fixed;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2); /* Sombra */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column; /* Organiza os itens em uma coluna */
    justify-content: flex-start; /* Garante que os links fiquem no topo */
    overflow-y: auto; /* Adiciona rolagem se necessário */
    overflow-x: hidden; /* Evita rolagem horizontal indesejada */
    white-space: nowrap; /* Evita quebras de linha nos links */
}

.sidebar a {
    text-decoration: none;
    color: #5E69FF;
    margin-bottom: 10px;
    display: block;
    white-space: nowrap; /* Garante que os textos não quebrem */
}

.users-container {
    margin-left: 4%;
    width: 100%;
    height: 100vh;
    /*display: flex;*/
    flex-direction: column;
    padding: 1%;
}

.users-box {
    padding: 3%;
    background-color: white;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: inline-block;
}

.userbox{
    background-color:white;
    border: 1px solid black;
    padding: 2%;
    margin-bottom: 1%;
    overflow: hidden;
}
.novousuario{
    background: #5E5DF0;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 0.5%;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.novousuario:hover{
    background: #fff;
    color: #5E5DF0;
}

.deletarusuario{
    color:red;
    position: absolute;
    right: 10%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .sidebar {
        width: 10%;
    }
    .users-container {
        margin-left: 10%;
        width: 85%;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 15%;
    }
    .users-container {
        margin-left: 15%;
        width: 85%;
    }
}


.input-text{
    width: 100%;
}