* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(30, 30, 30);
    display: flex;
    min-height: 100vh;
    color: white;
}

.sidebar {
    padding: 1%;
    background-color: rgb(50, 50, 50);
    height: 100vh;
    width: auto;
    position: fixed;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
}

.sidebar a {
    text-decoration: none;
    color: #8A94FF;
    margin-bottom: 10px;
    display: block;
    white-space: nowrap;
}

.sidebar a:hover {
    color: #5E69FF;
}

.reservatorios-container {
    background-color: rgb(50, 50, 50);
    margin-left: 4%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 1%;
}

.reservatorios-box {
    padding: 3%;
    background-color: rgb(40, 40, 40);
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.4);
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.graficos {
    width: 20%;
}

.barra {
    width: 60%;
}

p {
    font-size: 3rem;
}

@media (max-width: 768px) {
    .sidebar {
        width: 10%;
    }
    .reservatorios-container {
        margin-left: 10%;
    }

    .graficos{
        width: 50%;
    }

    .barra{
        width: 100%;
        height: 100%;
    }
    p {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 15%;
    }

    .reservatorios-container {
        margin-left: 15%;
    }

    .graficos{
        width: 50%;
    }

    .barra{
        width: 100%;
        height: 100%;
    }
    p {
        font-size: 2rem;
    }
}

.input-text{
    width: 100%;
    background-color: rgb(60, 60, 60);
    color: white;
    border: 1px solid rgb(80, 80, 80);
}

.btn-custom {
    background-color: rgba(94, 105, 255, 0.5);
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: rgba(94, 105, 255, 0.8);
}

p{
    color: white;
}
